<form action="/login" method="post">
<label for="email">email: </label>
<input id="/register" type="email" name="email">
<label for="password">password: </label>
<input id="/register" type="password" name="password">
<input type="submit" value="submit">
</form>