<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header.ejs %>
</head>
<body>
    <h2>ShortURL :  <%= shortURL %></h2>




    <form action="" method="post">
  <label for="POST-name">Update URL:</label>
  <input id="POST-name" type="text" name="shortID">
  <input type="submit" value="input">
    </form>




</body>
</html>





<!--
Respond with a redirection to http://localhost:8080/urls/<shortURL>, where <shortURL> indicates the random string you generated to represent the original URL. -->