<!DOCTYPE html>
<html lang="en">
  <head>
  <title>TinyApp</title>
  </head>
  <body>
    <% include partials/_header.ejs %>
    <h3><%= shortURL %></h3>
    <h3><%= longURL %></h3>
    <form action="/urls/<%= shortURL %>" method="post">
      <label for="POST-name">Update URL:</label>
      <input id="POST-name" type="text" name="longURL">
      <input type="submit" value="input">
    </form>

  </form>
  </body>
</html>